@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

@layer components{
  body{
    background-color: black;
    color: aliceblue;
    font-family: 'caveat', cursive;
    font-size: 24px;
  }
  li{
    cursor: pointer;
  }
}


